# Port aplikasi
PORT=5000

# Pengaturan Database (Prisma)
DATABASE_URL="postgresql://user:password@localhost:5432/sditiqra2?schema=public"

# Pengaturan JWT
JWT_SECRET="rahasia_jwt_super_aman_123!"
JWT_EXPIRES_IN="7d"

# Pengaturan Eksternal Lainya
FILE_UPLOAD_PATH="uploads/"
CLOUDINARY_URL="cloudinary://my_api_key:my_api_secret@my_cloud_name"

# Durasi in-memory cache untuk pengecekan password di middleware (dalam milidetik)
PASSWORD_CACHE_TTL_MS=30000
